html {
    margin: 0;
    padding: 0;
}

.titlebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f6fac;
}

.titlebar li {
    float: left;
}


.titlebar li a {
    display: block; 
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.titlebar li a:hover {
    background-color: #185686
}